<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Cooking Blog - <%= typeof title=="undefined" ? "Mode with Node.js" : title %>
    </title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/font/bootstrap-icons.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
    <div class="container px-5 bg-white shadow-lg">
        <header  class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <a href="/" class="d-flex flex-wrap align-items-center col-md-3 mb-md-0 text-dark text-decoration-none">
                <img src="/img/logo.svg" width="229" height="68" alt="Cooking blog - made with Node.js">                
            </a>
            <ul class="nav col12 co-md-auto mb-2 justify-content-center mb-md-0"> 
                <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
                <li><a href="/about" class="nav-link px-2 link-secondary">About</a></li>
                <li><a href="/submit-recipe" class="nav-link px-2 link-secondary">Submit</a></li>
                <li><a href="/contact" class="nav-link px-2 link-secondary">Contact</a></li>
            </ul>
            <div class="col-md-3 text-end">
                <form action="/search" method="post">
                    <input type="text" name="searchTerm" id="" class="form-control" placeholder="Search" aria-label="search">
                </form>
            </div>
        </header>
        
        <main>
            <%- body -%>
        </main>

        <footer class="py-5">
            <p>Bulid by Raddy & Rebulid by Zuhair</p>
        </footer>
    </div>


    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>